*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI',SegoeUI,'Helvetica Neue',Helvetica,Arial,sans-serif;
}
.header{
    background-color:#fff;
    height: 60px;
    box-shadow: 0px 5px rgb(213, 212, 212,0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    overflow: hidden;
}
.microsoft{
    display: flex;
}
.microsoft img{
    width: 28px;
    height: 28px;
}
.microsoft .azure{
    margin-left: 1.5rem;
}
.microsoft .azure h6{
    font-size:1.2rem;
}
.main-btn{
    background-color: #89c402;
    border: 1px solid #6f9e02;
    border-radius: 4px;
    color: #1a1a1f;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 9px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}
.main-btn:hover{
    color: #1a1a1f;
    opacity: 0.85;
}
#main-btn{
    background-color: #89c402;
    border: 1px solid #6f9e02;
    border-radius: 4px;
    color: #1a1a1f;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}
#main-btn:hover{
    color: #1a1a1f;
    opacity: 0.85;
}
.pay-btn{
    background-color: transparent;
    border: 1px solid #0078d4;;
    border-radius: 4px;
    color:#0062ad;
    display: inline-block;
    font-size: 14px;
    font-weight: 620;
    padding: 12px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    transition-property:background-color ;
    width: fit-content;
    margin-left: 1.5rem;
}
.pay-btn:hover{
    color:white;
    background-color: #0078d4;
}
/* hero-sec */
.row .content{
    display: grid;
    grid-template-columns: 5fr ;
    grid-template-rows: 2fr 2fr 2fr;
}
.net-content{
    grid-row-start: 2;
    grid-row-end: 2;
}
.buttons-content{
    grid-row-start: 3;
    grid-row-end: 3;
}
.row .content h2{
    padding-top: 2rem;
    font-weight: 600;
}
.row .content h6{
    padding: 1rem 0rem;
    font-weight:600 ;
    font-size: 1.1rem;
}
.hero-sec-wrapper{
    background-image: url(/Images/free-hero.png);
    background-size:cover;
    background-repeat: no-repeat;
    background-position-y: 50px;
    padding: 4rem ;

}
/* /////Service section //////*/
.service-sec-azure .container{
    margin:20px auto;

}
.service-sec{
    display: grid;
    grid-template-columns: 2.5fr .5fr 2.5fr .5fr 2.5fr;
    grid-gap: 10px;
}
.service-sec .service-sec-card{
    background-color: rgb(245, 247, 249);
    margin:20px auto;
    width: 100%;
    padding: 50px;
    text-align: center;
}
.service-sec .service-sec-plus{
    margin: auto;
    font-size: 2rem;
    color: #0078d4;
    width: 100%;
    text-align: center;

}
.service-sec .service-sec-card a{
    text-decoration: none;
}
/* heading */
.heading{
    text-align: center;
}

/* ////do-dection/// */
.do-sec-azure .container{
    margin: 50px auto;
}
.do-sec{
    display: grid;
    grid-template-columns:5fr 5fr 5fr;
    grid-gap: 10px;

}
.do-sec-card{
    border: 1px solid #b8b9ba;
    margin:20px auto;
    text-align:left;
    padding: 40px;
    width: 100%;
}
.do-sec-card h6{
    margin-bottom: 2rem;
    font-size: 1.1rem;
}
.do-sec-card img{
    height: 48px;
    width: 48px;
    margin-bottom: 1.5rem;
}
.do-sec-card ul{
    margin-top: -1rem;
}
.do-sec-card ul li::before {
    content: "\2022";
    color: rgb(15, 119, 223);
    font-weight:900;
    font-size: 25px;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
  .do-sec-card ul li{
    list-style: none;
  }
  .try-free{
    font-size: 16px;
  }
/* // free service section// */
.free-service-sec{
   
    background-color: rgb(245, 247, 249);
}
.free-service-sec .container{
    margin: 50px auto;
}
.free-service-sec .courses{
    display: grid;
    grid-template-columns:5fr 4fr 4fr 4fr 4fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    padding:3rem  0;
    
}
.course-card-content{
    grid-row-start: 1 ;
    grid-row-end: 3;
}
.course-card-content h2{
    font-size: 24px;
}
.course-card-content p{
margin: 2rem 0;
}
.free-service-btn{
    background-color: transparent;
    border: 1px solid #0078d4;;
    border-radius: 4px;
    color:#0062ad;
    display: inline-block;
    font-size: 14px;
    font-weight: 620;
    padding: 12px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    transition-property:background-color ;
    width: fit-content;
}
.free-service-btn:hover{
    color:white;
    background-color: #0078d4;
}


.free-service-sec .courses h6{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.free-service-sec .courses img{
    width: 48px;
    height: 48px;
    margin:1.5rem 0;
}
.free-service-sec .courses h5{
    text-transform: capitalize;
    font-size: 15px;
    margin-bottom: 1rem;
}
.free-service-sec .courses .card{
    border: 1px solid #b8b9ba;
    text-align: left;
    padding: 1.5rem;
    position: inherit;
    
}
.free-service-sec .card:hover{
    box-shadow: 2px 5px  rgb(213, 212, 212,0.6),
    -2px 0px rgb(213, 212, 212,0.7)
    ;
    cursor: pointer;
}

/* //extra services */
.extra-services{
    margin: 20px;
}

.extra-services .container{
    background-color: #1a1a1f;
    
}

.extra-services .extra-content{
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: auto;
    padding: 2rem;
}
.extra-services .extra-content .first-sec{
    margin:4rem auto;
}
.extra-services .extra-content h2{
    color: #50e6ff;
    font-size: 3rem;
    
}
.extra-services .extra-content h6{
    color: #fff;
    font-size: 1.5rem;
}
.extra-services .extra-content .image-extra{
    width: 24px;
    height: 24px;
}
.extra-services .extra-content .second-sec{
    margin:auto;
    border-style: solid;
    border-left-color:#fff;
    padding: 2rem;
}
.storage-service{
    display: flex;
    margin-bottom: 10px;
}
.second-sec p{
    color: #fff;
    padding-left: 1rem;
    align-self: center;
}
.media-service{
    display: flex;

}

/* payment-sec */
.payment{
    margin: 20px;
    margin-top: 6rem !important;
}
.payment .container{
   display:flex;
}
.payment .payment-details{
    margin:auto;
    text-align: center;
}
.payment .payment-details a{
    margin: 1.5rem 0;
}





/* explore section ///*/
.explore-sec-wrapper{
    background-image:url(/Images/free-account-demo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 4rem;
    margin: 3rem 0;
    
}
.explore-content{
    background-color: #080807;
    padding: 2rem;
    color: #fff;
    width: fit-content;
    margin: 2rem 0;
}

#register-btn{
    background-color: #080807;
    border: 1px solid rgb(233, 233, 218);
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 12px;
    line-height: 1;
    text-align: center;
    text-decoration: none;
}
#register-btn:hover{
    background-color:#0078d4;
    opacity: 0.85;
}

.explore-sec-res{
    display: none;
}





/* about azure */

.about-azure .about-sec{
    display: grid;
    grid-template-columns: 5fr 5fr 5fr;
    
}
.about-sec-one{
    color: #080807;
}
.about-sec-two p{
    padding:.1rem 0;
    font-size: 13px;
    font-weight:600 ;
}
.about-sec-three p{
    padding-top: .3rem;
    font-size: 13px;
    font-weight:600 ;
}
.about-sec-three h5{
    padding-bottom: .3rem;
}
.about-links{
    margin-top: 1rem;
}
/* review-steps */
.review-heading{
    margin-top: 4rem;
    color: #080807;
    text-align: center;
}
.review-sec{
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    column-gap: 3rem;
}
.review{
    margin: 3rem 0;
}
.review .review-sec img{
    padding: 1rem 0;
}
.review .review-sections{
    background-color: rgb(245, 247, 249);
    padding: 1.5rem;
}
.review .review-sections a{
    text-decoration: none;
    font-weight: 600;
    color: #080807;
    cursor: default;
}
.button-review{
    text-align: center;
    margin-bottom: 2rem;
}
.end-details{
    text-align: center;
    font-size: 15px;
    margin: 4rem 0;
}

/* footer */

footer{
    background-color: rgb(245, 247, 249);
    padding-top: 3rem;

}
.footer-sections{
    display: grid;
    grid-template-columns: 6fr 6fr 4fr;
}
.footer-sec p{
    font-size: 13px;
}
.footer-sec a{
    text-decoration: none;
    font-size: 13px;
    color: #080807;margin: 0rem .2rem;
}
#language{
    padding:0 1rem;
}
/* mdeia */

@media only screen and (max-width: 850px) {
    .microsoft{
        margin-left: .2rem;
    }
    .start-free{
        margin-right: .2rem;
    }
    .hero-sec-wrapper{
        background-image:none;
        background-color: rgb(245, 247, 249);
        background-repeat: no-repeat;
        padding: 4rem ;
    }
    .service-sec{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    }
    .do-sec{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
    
    }
    .free-service-sec .courses{
        display: grid;
        grid-template-columns:5fr;
        grid-gap: 10px;
        padding:3rem  0;
        
    }

    .extra-services .extra-content{
        display: flex;
        flex-wrap: wrap;
    }
    .extra-services .extra-content .second-sec{
        margin:0 0 !important;
        border: none !important;
        padding: 0rem !important;
    }
    .explore-sec{
    display: none;
    }
    .explore-sec-wrapper{
        background-image:url(/Images/free-account-demo.jpg);
        background-size:cover;
        background-repeat: no-repeat;
        padding: 6rem !important;
        margin: 0rem  !important;
        
    }
    .explore-sec-res{
        display: block;
        background-color: #080807;
        padding: 2rem;
        color: #fff;
        width:100%;
        margin-bottom:1rem ;
    }
    .about-azure .about-sec{
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        display: grid;
        grid-template-columns: 5fr ;
    }
    .review-sec{
        display: grid;
        grid-template-columns: 4fr;
        row-gap: 3rem;
    }
    .footer-sections{
        display: grid;
        grid-template-columns: 4fr;
        row-gap: 1rem;
    }
}

.chat-box{
    width: fit-content;
    background-color: #49a0e8;
    padding:.4rem;
    float:right;
    text-decoration: none;
}
.chat-box a{
    color: #fff;
}
.chat-box a:hover{
    color: #fff;
}
.chat-box img{
    margin: 5px;
}